PORT = 8000
MONGODB_URI=mongodb://your-username:your-password@ac-vkmjbts-shard-00-00.t48flod.mongodb.net:27017,ac-vkmjbts-shard-00-01.t48flod.mongodb.net:27017,ac-vkmjbts-shard-00-02.t48flod.mongodb.net:27017/?ssl=true&replicaSet=atlas-efsl7z-shard-0&authSource=admin&appName=Cluster0
CORS_ORIGIN=*         //allow from every where 